! colorschemes
!#include ".Xresources.d/colors_solarized"
!#include ".Xresources.d/colors_reddish"
#include ".Xresources.d/colors_gruvbox"

! fonts
Xft.antialias: true
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hinting: true
Xft.rgba: rgb

! urxvt settings
URxvt*saveLines: 2000
URxvt*font: xft:Inconsolata:size=11
URxvt*scrollBar: false

! xclock setings
XClock*majorColor: #ebdbb2
XClock*minorColor: #928374
XClock*hourColor: #a89984
XClock*minuteColor: #a89984
